body {
    padding: 20px 0;
}

body, html {
    height: inherit !important;
}

html{
    background-image: -webkit-radial-gradient(top center,circle farthest-corner,#2c6a93,#000a34);
    background-image: radial-gradient(circle farthest-corner at top center,#2c6a93,#000a34);
    color: #FFF;
}

html:before{
    background: url(http://img.uefa.com/imgml/2016/euro/bg_pattern.png) top center #007cba;
    background-size: 100%;
    opacity: .2;
    filter: alpha(opacity=20);
    z-index: 1;
}

html:after{
    background-image: radial-gradient(circle closest-corner at top center,#65beec,rgba(101,190,236,0));
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 2;
}

.flash-message {
    margin-top: 20px;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; 
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
}

.stage-item{
    border: 1px solid #ccc;
    background-color: white;
}

.stage-item .date{
    background-color: #eee;
    padding: 0 20px;
    line-height: 2em;
    color: #999;
    font-size: 25px;
}

.stage-item .match-item {
    border-bottom: dashed 1px #ccc;
    background: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.stage-item .match-item .time{
    padding-top: 0.3em;
    color: #878787;
}

.stage-item .match-item .match{
    padding-bottom: 1.2em;
}

.stage-item .match-item .match button{
    float : right;
    margin-top: 0;
}

.stage-item .match-item .match input{
    width: 60px;
    display: inline;
}

.stage-item .match-item .match .prev_score{
    color: #878787;
}

.table_title{
    font-weight: bold;
}

.table{
    border-bottom: 1px solid #ccc;
}

#score_title{
    float: left;
}

#score_button{
    float: right;
    margin-top: 20px;
}

#table_row_1{
    color: #610B0B;
}

#table_row_2{
    color: #0B610B;
}

#table_row_3{
    color: #0B0B61;
}

#table_row_1,
#table_row_2,
#table_row_3,
#user_place{
    font-weight: bold;
}