<h1></h1>

<div ng-cloak class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs md-selected="vm.TabIndex" md-dynamic-height md-center-tabs = "false">

      <md-tab label="{{vm.TabTexts[$index]}}"  ng-repeat="stage in vm.schedule.Stages">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>
          <div ng-repeat="day in stage">
              <div class="stage-item">
                <div class="date">
                    {{day[0].date | day_filter }}
                </div>
                <div class="match-item" ng-repeat="match in day">
                     <div class="time"> {{match.date | time_filter}}</div>
                    <div class="match">
                    	<span>{{match.team1}}</span>
                      
                      <input ng-disabled="!vm.matchStatus[match.match_id].editable" type="number" name="input" min="0" max="99" ng-model="vm.matchStatus[match.match_id].user_homescore" class="form-control" required> - 
                    	
                      <input ng-disabled="!vm.matchStatus[match.match_id].editable" type="number" name="input" min="0" max="99"  ng-model="vm.matchStatus[match.match_id].user_awayscore" class="form-control" required>

                      <span>{{match.team2}}</span>

                      <span class="prev_score" ng-hide="(!vm.matchStatus[match.match_id].predicted_awayscore && vm.matchStatus[match.match_id].predicted_awayscore!==0) || (!vm.matchStatus[match.match_id].predicted_homescore && vm.matchStatus[match.match_id].predicted_homescore!==0)"> (Tahmin {{vm.matchStatus[match.match_id].predicted_homescore}}-{{vm.matchStatus[match.match_id].predicted_awayscore}}<span ng-hide="!vm.matchStatus[match.match_id].has_point">, Puan {{vm.matchStatus[match.match_id].point}}</span>)</span>
                    	
                      <button ng-disabled="(!vm.matchStatus[match.match_id].user_homescore && vm.matchStatus[match.match_id].user_homescore!==0) || (!vm.matchStatus[match.match_id].user_awayscore && vm.matchStatus[match.match_id].user_awayscore!==0) || !vm.matchStatus[match.match_id].editable" ng-click="handleClick(match.match_id,vm.matchStatus[match.match_id].user_homescore,vm.matchStatus[match.match_id].user_awayscore)" class="md-raised md-button md-ink-ripple" type="button" aria-label="Kaydet"><span class="ng-scope">Kaydet</span><div class="md-ripple-container"></div></button>
                    </div>
                </div>
              </div>
          </div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>