<h3>Şu anda {{vm.score.yourPoint.numOfPredictions}} tahmin yapıp {{vm.score.yourPoint.point}} puan aldınız ve <span id="user_place">{{vm.score.yourPoint.place}}.</span> sıradasınız!</h3>
<br>
<h2 id='score_title'><span ng-hide="vm.hideAllScoreButton">Top 25</span><span ng-hide="!vm.hideAllScoreButton">Tüm Liste</span></h2>
<button id='score_button' class="btn btn-primary" ng-click="gelAllPoints()" ng-hide="vm.hideAllScoreButton">Tüm Liste</button>
<table class="table">
    <tr class='table_title'>
        <td>Sıralama</td>
        <td>Kullanıcı</td>
        <td>Puan</td>
        <td>Tahmin Sayısı</td>
    </tr>
    <tr ng-repeat="point in vm.score.points" id="table_row_{{$index + 1}}">
    	<td>{{$index + 1}}</td>
        <td>{{point.firstname | capitalizer}} {{point.lastname | capitalizer}} ({{point.username}})</td>
        <td>{{point.point}}</td>
        <td>{{point.numOfPredictions}}</td>
    </tr>
</table>
